
body {
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
}

.navbar{
font-family: "Raleway";
font-weight: 400;
}

/* Navbar */
.bgcolor.scrolled{
    background-color: #0dcaf0;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}