
body {
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
}

/* Navbar */
.bgcolor.scrolled{
    background-color: #0dcaf0;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}