/*Navbar*/
.nav-black {
    background-color: black;
    color: white;
  }
  
  .dark-celu .container {
    background-color: transparent;
  }
  
  
  @media only screen and (max-width: 991px) {
    
    .dark-celu {
      background-color: black;
    }
  
  }